<% if resource.errors.any? %>
  <div id="error_explanation">
    <% if resource.errors.any? %>
      <% resource.errors.full_messages.each do |msg| %>
        <%= render 'shared/toaster_flash' %>
        <% flash.now[:alert] = msg %>
      <% end %>
    <% end %>
  </div>
<% end %>
