<div class="card bg-light p-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Pending Your Confirmation</h2>
        <hr>
        <%= render partial: 'pending_audit_confirmation', locals: { pending_audit_confirmations: @pending_audit_confirmations } %>
      </div>
    </div>
  </div>
</div>