.badge {
  width: 100px;
}

.index-icons {
  font-size: 1.1em;
}

.index-icons:hover {
  color: #4e555b;
}

.trash {
  color: tomato;
}

.edit {
  color: #117a8b;
}

tr {
  text-align: center;
  text-decoration: none;
}